<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upload</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="icon" type="image/svg+xml" href="/public/images/favicon.ico">
</head>

<body>
  <!-- <% if (locals.fileLink !=null) { %>
    <div>
      Your file is upload
      <a href="<%= locals.fileLink %>">
        <%= locals.fileLink %>
      </a>
    </div>
    <% } %> -->
  <div class="centre">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="file">File:</label>
      <input type="file" id="file" name="file" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <button class="btn" type="submit">Share</button>
    </form>
    <% if (locals.fileLink !=null) { %>
      <div class="file-link">
        Your file is upload at :- 
        <a href="<%= locals.fileLink %>">
          <%= locals.fileLink %>
        </a>
      </div>
      <% } %>
  </div>


</body>

</html>